.project-detail-container {
    //max-width: 800px;
    margin: auto;
    color: var(--text-color);
    .toggle-header-btn{
      background: none;
      border: none;
      cursor: pointer;
      font-size: 2rem;
      color: var(--text-color);
      margin: 0;
      padding: 0;
    }
    .header-info{
      background-color: var(--background-color-light);
      padding: 1px 20px !important;
      margin-top: 10px;
      border-radius: 10px;

    }
    & hr{
        border: 1px solid rgba(127, 127, 127, 0.5);
        margin: 20px 0;
    }

    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInDown 500ms ease-in-out forwards;
  }
  
  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-header button {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background: var(--accent-color);
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s;
    cursor: pointer;
    font-size: 1.1rem;
  
    &:hover {
      background: darken(#9c89b8, 10%);
    }
  }
  
//   .task-list {
//     list-style: none;
//     padding-left: 0;
  
//     li {
//       margin-bottom: 10px;
//       padding: 10px;
//       border: 1px solid #ccc;
//       border-radius: 6px;
//       background: rgba(255, 255, 255, 0.2);
//     }
//   }
.kanban-board {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    color: black;
  }
  
  .kanban-column {
    flex: 1;
    min-width: 300px;
    background: var(--background-color-light);
    padding: 15px;
    border-radius: 12px;
    & h3{
        color: var(--text-color) !important;
    }
  }

  .status-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .kanban-column h3 {
    margin-top: 0;
    color: #5e4b56;
  }
  
  .task-list {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .task-card {
    background: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border-radius: 8px;
    border: 1.5px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    cursor: grab;
    transition: transform 0.2s ease;
  }
  
  .task-card:active {
    cursor: grabbing;
    transform: scale(1.02);
  }

  .tag-list {
    margin-top: 5px;
    margin-left: -3px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .task-tag {
    background: var(--accent-color);
    color: white;
    padding: 2px 8px;
    font-size: 0.75rem;
    border-radius: 50px;
  }
  

  .progress-container {
    width: 100%;
    height: 7px;
    background: rgba(127, 127, 127, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 0;
  }
  
  .progress-bar {
    height: 100%;
    background: linear-gradient(to right, #00ff0d3a, #43a047);
    transition: width 0.3s ease-in-out;
    border-radius: 8px;
  }
  
  .progress-label {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 10px;
  }

  .task-priority {
    font-size: 0.75rem;
    margin-left: 5px;
    padding: 2px 4px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: black;
  
    &.alta {
      background-color: #ff615f;
    }
  
    &.media {
      background-color: #fbc02d;
    }
  
    &.baja {
      background-color: #43a047;
    }
  }

  .task-card.archived {
    background: rgba(0, 0, 0, 0.1);
    color: var(--text-color-dark);
    font-size: 0.8rem;
    padding: 6px 10px;
    border: 1px dashed var(--text-color-dark);
    height: auto;
    overflow: hidden;
  }  

  .calendar-link {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background: var(--accent-color);
    color: white;
    padding: 6px 12px;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s;
    margin-right: 10px;
    font-size: 1.1rem;
  
    &:hover {
      background: darken(#9c89b8, 10%);
    }
  }

  .summary-link {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background: var(--accent-color);
    color: white;
    padding: 6px 14px;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    font-size: 1.1rem;
    margin-bottom: 10px;
  
    &:hover {
      background: darken(#9c89b8, 10%);
    }
  }
  
  
  @keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}