/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff8e1; // Fondo claro para coherencia
    margin: 0;
    padding: 0;
  }