@import "assets/styles/colors";

// Global styles setup and theme variable definitions
//----
// Estilos globales y definición de variables de tema
*{
  transition: background 0.2s ease-in-out, background-color 0.2s ease-in-out !important;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
  }

// Color variables for light mode using CSS custom properties
//----
// Variables de color para modo claro usando custom properties
  :root {
    // Default variables (light mode)
    //----
    // Variables por defecto (modo claro)
    --primary-color: #{$primary-color-light};
    --secondary-color: #{$secondary-color-light};
    --background-color: #{$background-color-light};
    --text-color: #{$text-color-light};
    --error-color: #{$error-color-light};
    --button-hover: #{$button-hover-light};
  
    // Lighten versions
    //----
    // Versiones aclaradas
    --primary-color-light: #{lighten($primary-color-light, 13%)};
    --secondary-color-light: #{lighten($secondary-color-light, 13%)};
    --background-color-light: #{lighten($background-color-light, 13%)};
    --text-color-light: #{lighten($text-color-light, 13%)};
    --error-color-light: #{lighten($error-color-light, 13%)};
    --button-hover-light: #{lighten($button-hover-light, 13%)};
  
    // Darken versions
    //----
    // Versiones oscurecidas
    --primary-color-dark: #{darken($primary-color-light, 13%)};
    --secondary-color-dark: #{darken($secondary-color-light, 13%)};
    --background-color-dark: #{darken($background-color-light, 13%)};
    --text-color-dark: #{darken($text-color-light, 13%)};
    --error-color-dark: #{darken($error-color-light, 13%)};
    --button-hover-dark: #{darken($button-hover-light, 13%)};
  }

// Dark mode overrides using the .dark-mode class
//----
// Sobreescritura de variables para modo oscuro con la clase .dark-mode
  .dark-mode {
    // Default variables (dark mode)
    //----
    // Variables por defecto (modo oscuro)
    --primary-color: #{$primary-color-dark};
    --secondary-color: #{$secondary-color-dark};
    --background-color: #{$background-color-dark};
    --text-color: #{$text-color-dark};
    --error-color: #{$error-color-dark};
    --button-hover: #{$button-hover-dark};
  
    // Lighten versions
    //----
    // Versiones aclaradas
    --primary-color-light: #{darken($primary-color-dark, 13%)};
    --secondary-color-light: #{darken($secondary-color-dark, 13%)};
    --background-color-light: #{darken($background-color-dark, 5%)};
    --text-color-light: #{darken($text-color-dark, 13%)};
    --error-color-light: #{darken($error-color-dark, 13%)};
    --button-hover-light: #{darken($button-hover-dark, 13%)};
  
    // Darken versions
    //----
    // Versiones oscurecidas
    --primary-color-dark: #{lighten($primary-color-dark, 13%)};
    --secondary-color-dark: #{lighten($secondary-color-dark, 13%)};
    --background-color-dark: #{lighten($background-color-dark, 13%)};
    --text-color-dark: #{lighten($text-color-dark, 13%)};
    --error-color-dark: #{lighten($error-color-dark, 13%)};
    --button-hover-dark: #{lighten($button-hover-dark, 13%)};
  }

  .custom-toast {
    width: auto !important;
    padding: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: unset !important;
    overflow: hidden !important;
    max-width: none !important;
    box-sizing: content-box !important;
    border-radius: 100%;
    backdrop-filter: blur(2px);
    border: 1px solid var(--primary-color-dark) !important;
  }
  
  .custom-toast .swal2-icon {
    font-size: 2rem;
    margin: 0 !important;
  }

  .swal-upcoming {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white;
    border: var(--primary-color-dark) 2px solid;
    border-radius: 10px;
    width: 500px !important;
    backdrop-filter: blur(3px);
  }

  .swal-upcoming-confirm-custom{
    background-color: var(--primary-color-dark);
    color: var(--text-color-dark);
    border-radius: 50px;
  }
  
  .swal-backdrop {
    background: linear-gradient(135deg, rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 1)) !important;
    backdrop-filter: blur(3px);
    border: 2px solid var(--primary-color-dark);
    color: white;
    overflow: hidden;
    border-radius: 20px;
  }

  @keyframes growFromBubble {
    0% {
      transform: scale(0);
      transform-origin: bottom right;
      opacity: 1;
      border-radius: 100px;
    }
    100% {
      transform: scale(1);
      transform-origin: bottom right;
      opacity: 1;
      border-radius: 20px;
    }
  }
  
  @keyframes shrinkToBubble {
    0% {
      transform: scale(1);
      transform-origin: bottom right;
      opacity: 1;
      border-radius: 20px;
    }
    100% {
      transform: scale(0);
      transform-origin: bottom right;
      opacity: 1;
      border-radius: 100px;
    }
  }
  
  
  .swal-custom-show {
    animation: growFromBubble 200ms ease-out;
  }
  
  .swal-custom-hide {
    animation: shrinkToBubble 200ms ease-in;
  }