<div class="files-container">
  <div class="volver-atras">
    <a [routerLink]="['/dashboard/projects', projectId]" class="btn-volver">
      <i class="fa-solid fa-arrow-left"></i> Volver al proyecto
    </a>
  </div>
  <h2>Archivos del Proyecto</h2>

  <div class="upload-section">
    <label class="upload-label">
      <input type="file" name="file" (change)="onFileSelected($event)" hidden>
      <i class="fa-solid fa-upload"></i> Seleccionar archivo
    </label>
  
    <span class="file-selected" *ngIf="selectedFile">
      {{ selectedFile.name }}
    </span>
  
    <button class="upload-btn" [disabled]="!selectedFile" (click)="upload()">
      <i class="fa-solid fa-cloud-arrow-up"></i> Subir
    </button>
  </div>

  <div *ngIf="files.length === 0">No hay archivos subidos aún.</div>

  <ul class="file-list">
    <li *ngFor="let file of files">
      <div class="file-name" title="{{ file.original_name }}">
        {{ file.original_name }}
      </div>
      <div class="file-size">
        {{ (file.size / 1024).toFixed(2) }} KB
      </div>
      <!-- Desktop actions -->
      <div class="file-actions desktop">
        <button (click)="preview(file)"><i class="fa-solid fa-expand"></i></button>
        <button (click)="download(file.id, file.original_name)"><i class="fa-solid fa-cloud-arrow-down"></i></button>
        <button (click)="delete(file.id)"><i class="fa-solid fa-trash"></i></button>
      </div>

      <!-- Mobile dropdown -->
      <div class="file-actions mobile">
        <button (click)="toggleDropdown(file)">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
        <div class="dropdown-menu" *ngIf="file.dropdownOpen">
          <button (click)="preview(file); file.dropdownOpen = false"><i class="fa-solid fa-expand"></i></button>
          <button (click)="download(file.id, file.original_name); file.dropdownOpen = false"><i class="fa-solid fa-cloud-arrow-down"></i></button>
          <button (click)="delete(file.id); file.dropdownOpen = false"><i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </li>
  </ul>
</div>


