<button class="hamburger-toggle" [ngClass]="isMobileOpen ? 'hamburgerOpen' : ''" (click)="toggleSidebar()"><i class="fa-solid fa-chevron-right"></i></button>
<div class="dashboard-container">
  
  <aside class="sidebar" [ngClass]="{ 'collapsed': isCollapsed, 'mobile-open': isMobileOpen }">
    <button class="toggle-btn" (click)="toggleSidebar()">
      <img [src]="'../../../assets/img/' + (isCollapsed ? 'gestproy_logo_isotipo_bgless' : 'gestproy_logo_horizontal_bgless') + (isDarkMode ? '' : '_light') + '.png'" alt="">
    </button>
    
    <ul>
      <li data-tooltip="Proyectos" [ngClass]="{'active': activeRoute.includes('/dashboard/projects')}" routerLink="projects" (click)="isMobile ? closeMobileSidebar() : null"><i class="fas fa-folder"></i> <span *ngIf="!isCollapsed">Proyectos</span></li>
      <li data-tooltip="Tareas" [ngClass]="{'active': activeRoute.includes('/dashboard/tasks')}" routerLink="tasks" (click)="isMobile ? closeMobileSidebar() : null"><i class="fas fa-list-check"></i> <span *ngIf="!isCollapsed">Tareas</span></li>
      <li data-tooltip="Perfil" [ngClass]="{'active': activeRoute.includes('/dashboard/profile')}" routerLink="profile" (click)="isMobile ? closeMobileSidebar() : null"><i class="fas fa-user"></i> <span *ngIf="!isCollapsed">Perfil</span></li>
      <li data-tooltip="Cerrar Sesión" (click)="logout()"><i class="fa-solid fa-right-from-bracket fa-rotate-180"></i> <span *ngIf="!isCollapsed">Cerrar&nbsp;Sesión</span></li>
    </ul> 
    <li data-tooltip="Cambiar Tema" class="dark-mode-btn" (click)="toggleDarkMode()">
      <img [src]="isDarkMode ? '../../assets/svg/sun.svg' : '../../assets/svg/moon.svg'" alt="Modo">
    </li>
  </aside>
  

  <div 
    class="backdrop" 
    *ngIf="isMobileOpen" 
    (click)="closeMobileSidebar()">
  </div>
  
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
