//COLORES
$accent-color-light: #9c89b8;
$primary-color-light: #f4a261;
$secondary-color-light: #fcd5ce;
$background-color-light: #faf3dd;
$text-color-light: #5e4b56;
$error-color-light: #e63946;
$button-hover-light: #e76f51;

//DARK MODE
$accent-color-dark: #5a4a6e;
$primary-color-dark: #a04721;
$secondary-color-dark: #4a5d6b;
$background-color-dark: #1f1a2e;
$text-color-dark: #d2cbcf;
$error-color-dark: #ff4d4d;
$button-hover-dark: #b36857;