<div class="login-container">
  <div class="login-box">
    <img src="assets/img/gestproy_logo_bgless.webp" alt="Project Logo" class="login-logo" loading="lazy"/>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

      <!-- Email -->
      <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Correo Electrónico"
          [class.invalid]="email?.invalid && email?.touched"
        />
      </div>

      <!-- Password -->
      <div class="input-group password-group">
        <i class="fas fa-lock"></i>
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          formControlName="password"
          placeholder="Contraseña"
          [class.invalid]="password?.invalid && password?.touched"
        />
        <button type="button" class="toggle-password" (click)="togglePasswordVisibility()" aria-label="Mostrar/Ocultar contraseña">
          <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>
      </div>

      <!-- Remember me -->
      <label class="checkbox-label">
        <input type="checkbox" formControlName="rememberMe" class="checkbox" />
        Mantener sesión iniciada
      </label>

      <!-- Submit -->
      <button type="submit" [disabled]="loginForm.invalid || isLoading">
        <span *ngIf="!isLoading">Iniciar Sesión</span>
        <span *ngIf="isLoading" class="loading-spinner"></span>
      </button>

      <!-- Separador -->
      <div class="separador">
        <hr />
        <span>O</span>
        <hr/>
      </div>

      <!-- boton de google -->
      <div id="googleButton" class="g_signin"></div>


      <!-- Register link -->
      <p class="register-link">
        ¿No tienes cuenta?
        <a routerLink="/register">Regístrate</a>
      </p>
    </form>
  </div>
  <small>GestProy 2025 by Ander ♥</small>
</div>
